id ICON "../replmower.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "cup 'o tea games"
      VALUE "FileDescription", "supermower"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "replmower"
      VALUE "LegalCopyright", "afureru!"
      VALUE "OriginalFilename", "supermower.exe"
      VALUE "ProductName", "supermower"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END